<!DOCTYPE html>
<html>

<head>
    <div style="border: 2px solid #000000;">
        {% if request.user.is_authenticated %}
        <p>Hello , {{request.user.username}} | <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <p><a href="{% url 'register' %}">Register</a> | <a href="#">Login</a></p>
        {% endif %}
    </div>
</head>

<body>
    {% block content %}
    {% endblock content %}
</body>
<footer>
    <div style="border: 2px solid #000000;">
        <h2>
            this is the footer.
        </h2>
    </div>

</footer>

</html>